@mixin container
{
  width: $container-mobile;
  margin-right: auto;
  margin-left: auto;

  @media #{$tablet-widths}
  {
    width: $container-tablet;
  }

  @media #{$desktop-widths}
  {
    width: $container-desktop;
  }
}

@mixin clearfix
{
  &::after
  {
    display: table;
    clear: both;

    content: "";
  }
}

@mixin arrow($direction: "left", $border-width: 3px, $padding: 3px, $color: #000000)
{
  &::before
  {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    display: inline-block;

    padding: $padding;

    content: "";

    border: solid $color;
    border-width: 0 $border-width $border-width 0;

    @if ( $direction == "left" )
    {
      transform: translate(-25%, -50%) rotate(135deg);
    }
    @else if ( $direction == "right" )
    {
      transform: translate(-75%, -50%) rotate(-45deg);
    }
    @else if ( $direction == "up" )
    {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @else if ( $direction == "down" )
    {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@mixin dont-break-out
{
  min-width: 0;

  word-wrap: break-word;
  hyphens: auto;
}
