html {
  font-size: $html-size-base;
}

body {
  min-width: $screen-mobile;
  font-family: $font-family-main;
  font-size: 1.4rem;
  line-height: 2rem;

  h1 {
    font-family: $font-family-titles;
    line-height: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
  }
}

.site {
  background-color: #f4edd5;
}

.entry-header {
  @include container;
}

.entry-content {
  @include container;
}

.entry-title {
  font-family: $font-family-titles;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.6rem;
  a {
    text-decoration: none;
  }
}

svg {
  height: 0;
}

@media #{$tablet-widths} {
  .site {
    background-image: url("img/bg-linedpaper.jpg");
    background-repeat: repeat;
  }
}

