@font-face {
  font-family: "ComfortaaRegular";
  font-weight: 400;
  font-style: normal;

  src:  url("fonts/comfortaaregular.woff2") format("woff2"),
        url("fonts/comfortaaregular.woff") format("woff");

}

@font-face {
  font-family: "ComicReliefBold";
  font-weight: 700;
  font-style: normal;

  src:  url("fonts/comicreliefbold.woff2") format("woff2"),
        url("fonts/comicreliefbold.woff") format("woff");

}

