@font-face {
  font-family: "ComfortaaRegular";
  font-weight: 400;
  font-style: normal;

  src:  url("fonts/comfortaaregular.woff2") format("woff2"),
        url("fonts/comfortaaregular.woff") format("woff");

}

@font-face {
  font-family: "SuplexmentaryComicNc";
  font-weight: 700;
  font-style: normal;

  src:  url("fonts/suplexmentary_comic_nc.woff2") format("woff2"),
        url("fonts/suplexmentary_comic_nc.woff") format("woff");

}

