.content-decor {
  display: none;
}

@media #{$tablet-widths} {

  .content-decor {
    display: block;
    position: relative;
    height: 275px;
    background:
      url("img/tulips@1x.png") top 0 right 224px no-repeat,
      url("img/fish@1x.png") top 75px right 523px no-repeat,
      url("img/pond1@1x.svg") top 52px right 397px no-repeat,
      url("img/pond2@1x.svg") top 50px right 377px no-repeat,
      url("img/pond3@1x.svg") top 46px right 377px no-repeat,
      url("img/duck@1x.png") top 117px right 835px no-repeat;
    background-size:
      140px 58px,
      99px 69px, 350px 123px, 443px 134px, 442px 155px, 47px 73px;

    &::before {
      content: "";
      position: absolute;
      top: 51px;
      left: 154px;
      width: 140px;
      height: 58px;
      background: url("img/tulips@1x.png") top left no-repeat;
      transform: scaleX(-1);
    }
  }
}
