.contacts-container
{
  margin-bottom: 14px;
}

.contacts-title
{
  font-size: 14px;
  font-weight: 700;
}

.contacts-phone-skype
{
  display: none;
}

  .contacts-phone-tel
  {
    display: inline-block;
  }



@media #{$desktop-widths}
{
  .contacts-phone-skype
  {
    display: inline-block;
  }

  .contacts-phone-tel
  {
    display: none;
  }


}
