
.site-footer
{
  border-top: 2px solid #fba200;
  border-bottom: 2px solid #fba200;
  background-color: #f7d34f;
  &__inner
  {
    @include container;
  }
  &__row-top &__inner
  {
    display: flex;
    flex-wrap: wrap;
    min-height: 89px;
    align-items: center;
  }
  &__row-bottom &__inner
  {
    display: flex;
    min-height: 50px;
    align-items: center;
    a
    {
      color: #979797;
    }
  }
}

@media #{$tablet-widths}
{
  .site-footer
  {
    border-bottom: none;
    &__row-top
    {
      border-bottom: 2px solid #fba200;
    }
    &__row-top &__inner
    {
      justify-content: space-between;
    }
    &__row-bottom
    {
      color: #979797;
      background-color: #3e3e3e;
    }
  }
}
