.site-branding
{
  position: relative;

  @include container;
}

.site-title
{
  a
  {
    font-family: $font-family-titles;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.main-navigation .menu
{
  display: block;

  padding-bottom: 10px;

  font-family: $font-family-titles;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;

  text-transform: uppercase;

  @include container;
  a
  {
    color: #ffffff;
  }
  li
  {
    padding: 10px 0;

    border-top: 1px solid #ffffff;
  }
}

@media #{$mobile-widths-only}
{
  .site-header
  {
    position: relative;

    color: #ffffff;
    background-color: #ffcf08;
  }

  .site-title
  {
    display: flex;

    align-items: center;
    justify-content: space-between;
    a
    {
      color: #ffffff;
    }
  }

  .custom-logo-link
  {
    display: none;
  }

  .site-description
  {
    display: none;
  }

  .site-header--closed
  {
    .kindergarten-menu-toggle
    {
      position: relative;

      display: block;

      width: 30px;
      height: 26px;
      &::before
      {
        position: absolute;
        z-index: 100;
        top: 4px;
        left: 0;

        width: 100%;
        height: 4px;

        content: "";

        background-color: #ffffff;
        box-shadow: 0 8px 0 0 #ffffff,
        0 16px 0 0 #ffffff;
      }
    }
    .main-navigation
    {
      display: none;
    }
  }

  .site-header--opened
  {
    .kindergarten-menu-toggle
    {
      position: relative;
      z-index: 99;

      display: block;

      width: 1em;
      height: 1em;
      &::before,
      &::after
      {
        position: absolute;
        z-index: 100;
        top: 10px;
        left: -5px;

        width: 1.3em;
        height: 4px;

        content: "";

        background-color: #ffffff;
      }
      &::before
      {
        transform: rotate(45deg);

        box-shadow: none;
      }
      &:after
      {
        transform: rotate(-45deg);
      }
    }
    .main-navigation
    {
      position: absolute;
      z-index: 100;
      top: 70px;
      left: 0;

      display: block;

      background-color: #ffcf08;
    }
  }

  .main-navigation .menu
  {
    display: flex;

    flex-wrap: wrap;
  }

  .main-navigation li.menu-item
  {
    display: block;
    float: none;

    width: 100%;
  }
}

@media #{$tablet-widths}
{
  .site-header
  {
    position: relative;

    min-height: 386px;

    background-image: url("img/sun.svg");
    background-repeat: no-repeat;
    background-position: right top -75px;
    background-size: 570px auto;

    @include container;
  }

  .site-branding
  {
    position: absolute;
    z-index: 100;
    top: 3px;
    left: 0;

    width: 304px;
    height: 185px;

    background-image: url("img/cloud.svg"), url("img/shadow.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center top 0, center top 7px;
    background-size: 100% 173px, 100% 173px;
  }

  .custom-logo-link,
  .site-title
  {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0;

    transform: translate(-50%,-50%);
  }

  .site-title-link
  {
    font-size: 3.6rem;
    line-height: 4rem;
    span:nth-of-type(7n-6)
    {
      color: #2aae4a;
    }
    span:nth-of-type(7n-5)
    {
      color: #f9dd45;
    }
    span:nth-of-type(7n-4)
    {
      color: #61cbe6;
    }
    span:nth-of-type(7n-3)
    {
      color: #ec6713;
    }
    span:nth-of-type(7n-2)
    {
      color: #c072c5;
    }
    span:nth-of-type(7n-1)
    {
      color: #d2804e;
    }
    span:nth-of-type(7n)
    {
      color: #ef4b53;
    }
  }

  .site-description
  {
    display: none;
  }

  .main-navigation
  {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;

    width: 570px;
    min-height: 386px;
  }

  .main-navigation .menu-primary-menu-container
  {
    z-index: 100;

    display: flex;

    width: 262px;
    min-height: 262px;
    margin-left: 168px;

    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.8rem;

    text-transform: uppercase;
    a
    {
      display: inline-block;

      padding-right: 5px;
      padding-left: 5px;

      border-bottom: 2px solid transparent;
      &:hover
      {
        color: #ec6713;
        border-bottom: 2px solid #ec6713;
      }
    }
  }

  .main-navigation .primary-menu--top
  {
    z-index: 999;

    display: flex;

    width: 180px;

    align-content: center;
    flex-wrap: wrap;
    .menu-item
    {
      display: block;
      float: none;

      padding: 0;

      text-align: center;

      border: 0;

      flex-basis: 100%;
      &.kindergarten-loginout
      {
        display: none;
      }
    }
  }
}

@media #{$desktop-widths}
{
  .main-navigation
  {
    right: 0;
  }
}
