.entry-content
{
  @include dont-break-out;
  a,
  p,
  span
  {
    @include dont-break-out;
  }
}

.entry-title
{
  @include dont-break-out;
  a,
  span
  {
    @include dont-break-out;
  }
}

.entry-meta
{
  @include dont-break-out;
  a,span
  {
    @include dont-break-out;
  }
}

.post
{
  p img
  {
    margin-bottom: 1.5em;
  }
  .entry-content a
  {
    color: #ffffff;
    background-color: #61cbe6;
  }
  .entry-title
  {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.6rem;

    color: #2aae4a;
    color: #2aae4a;

    a
    {
      color: #2aae4a;
    }
  }
  .entry-meta
  {
    a
    {
      text-decoration: none;

      color: #bababa;
      &:hover
      {
        text-decoration: underline;
      }
    }
  }
}

.blog,
.archive
{
  .post:not(:first-of-type)
  {
    position: relative;

    padding-top: 17px;

    border-top: 1px solid #fec42b;
    &::before
    {
      position: absolute;
      top: -14px;
      left: 50%;

      width: 65px;
      height: 28px;
      margin-left: -32px;

      content: "";

      background-color: $color-bg-main;
      background-image: url("img/flower.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}

.site-main .posts-navigation,
.site-main .post-navigation
{
  margin-bottom: 0;
  .nav-links
  {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-previous,
  .nav-next
  {
    display: block;

    width: auto;
    a
    {
      text-decoration: none;
    }
  }
  .nav-previous
  {
    .nav-title
    {
      text-align: left;
    }
    .nav-title-icon-wrapper
    {
      margin-right: 5px;
    }
  }
  .nav-next
  {
    .nav-title
    {
      text-align: right;
    }
    .nav-title-icon-wrapper
    {
      margin-left: 5px;
    }
  }
  .nav-title-icon-wrapper
  {
    display: inline-block;

    width: 1em;
    height: 1em;
    margin-bottom: 0.3em;

    vertical-align: middle;

    svg
    {
      width: 100%;
      height: 100%;

      fill: #ffffff;
    }
  }

  svg
  {
    width: 10px;
    height: 10px;
  }
  .nav-title
  {
    position: relative;

    margin-bottom: 2px;

    color: #ffffff;
    background-color: #00c24b;
  }
}

@media #{$mobile-widths-only}
{
  .site-main .posts-navigation,
  .site-main .post-navigation
  {
    .nav-previous,
    .nav-next
    {
      width: 100%;
    }
    .nav-previous a,
    .nav-next a,
    .nav-title
    {
      display: block;

      width: 100%;
    }
  }
}

@media #{$tablet-widths}
{
  .post .entry-content a:hover,
  .post-navigation .kindergarten-btn:hover,
  .posts-navigation .kindergarten-btn:hover
  {
    text-decoration: underline;

    color: #ffffff;
  }

  .site-main .posts-navigation
  {
    margin-top: 1.5em;
  }

  .blog,
  .archive
  {
    .post:not(:first-of-type)
    {
      &::before
      {
        background-color: #ffffff;
      }
    }
  }
}
