.site-main--front-page  .post-short
{
  padding-bottom: 33px;
  a
  {
    color: #ffffff;
  }
  &:nth-of-type(4n+1)
  {
    border-top: 5px solid #f29f34;
    border-bottom: 24px solid #f29f34;
    background-color: #efc043;;
    .kindergarten-btn
    {
      background-color: #61cbe6;
    }
  }
  &:nth-of-type(4n+2)
  {
    border-top: 5px solid #f29f34;
    border-bottom: 24px solid #f29f34;
    background-color: #f8db54;;
    .kindergarten-btn
    {
      background-color: #61cbe6;
    }
  }
  &:nth-of-type(4n+3)
  {
    border-top: 5px solid #c2b130;
    border-bottom: 24px solid #c2b130;
    background-color: #d5c651;
    .kindergarten-btn
    {
      background-color: #ef4b53;
    }
  }
  &:nth-of-type(4n+4)
  {
    border-bottom: 5px solid #e25a00;
    border-bottom: 24px solid #e25a00;
    background-color: #eb7400;;;
    .kindergarten-btn
    {
      background-color: #2aae4a;
    }
  }
}

@media #{$tablet-widths}
{
  .site-main--front-page  .post-short
  {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 270px;
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 30px;
    .entry-header
    {
      margin: 0 auto;
      h2
      {
        margin-top: 37px;
        margin-bottom: 18px;
      }
    }
    .entry-content
    {
      display: flex;
      flex-direction: column;

      width: 210px;
      margin: 0 auto;

      flex-grow: 1;
    }
    .kindergarten-btn
    {
      margin-top: auto;

      align-self: flex-start;
    }
    &:last-child
    {
      display: none;
    }
    &:nth-last-child(2)
    {
      margin-right: 0;
    }
  }
}

@media #{$desktop-widths}
{
  .site-main--front-page  .post-short
  {
    &:nth-last-child(2)
    {
      margin-right: 30px;
    }
    &:last-child
    {
      display: flex;
    }
  }
}
