.post {
  p img {
    margin-bottom: 1.5em;
  }

  .entry-content a {
    background-color: #61cbe6;
    color: #ffffff;
  }

  .entry-title {
    color: #2aae4a;
    a {
      color: #2aae4a;
    }
  }

}

