.post {
  p img {
    margin-bottom: 1.5em;
  }

  .entry-content a {
    background-color: #61cbe6;
    color: #ffffff;
  }

  .entry-title {
    color: #2aae4a;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.6rem;
    color: #2aae4a;
    a {
      color: #2aae4a;
    }
  }

}

.post-home:not(:first-of-type) {
  position: relative;
  padding-top: 17px;
  border-top: 1px solid #fec42b;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -32px;
    width: 65px;
    height: 28px;
    background-image: url("img/flower.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: $color-bg-main;
  }
}

.post-home:not(:last-of-type) {
  padding-bottom: 23px;
}

.site-main .posts-navigation,
.site-main .post-navigation {
   @include container;

  .nav-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-previous,
  .nav-next {
    display: block;
    width: auto;
    a {
      text-decoration: none;
    }
  }

  .nav-previous .nav-title {
    text-align: left;
    margin-bottom: 2px;
  }

  .nav-next .nav-title {
    text-align: right;
  }

  svg {
    width: 10px;
    height: 10px;
  }

  .nav-title {
    background-color: #00c24b;
    color: #ffffff;
  }
}

@media #{$mobile-widths-only} {

  .site-main .posts-navigation,
  .site-main .post-navigation {

      .nav-previous,
      .nav-next {
        width: 100%;
      }

      .nav-previous a,
      .nav-next a,
      .nav-title {
        display: block;
        width: 100%;
      }

  }
}
