@media #{$tablet-widths}
{
  .site-content
  {
    position: relative;
    z-index: 50;

    margin-top: 386px;
    margin-bottom: 14px;

    @include container;
  }
}

@media #{$desktop-widths}
{
  .site-content
  {
    min-height: 613px + 87px;
    background-image: url("img/tree@1x.png");
    background-repeat: no-repeat;
    background-position: top 87px right 0;
    background-size: 460px 613px;  }
}
