
@media #{$tablet-widths}
{

  .site-main-inner
  {
    position: relative;
    z-index: 10;
  }

.page-title,
.page-inner .entry-title
{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    color: #61cbe6;
}

  .page-inner,
  .blog,
  .single,
  .archive
  {
    .site-main
    {
      position: relative;
      min-height: 181px;
      padding-right: 33px;
      padding-left: 30px;
      padding-bottom: 35px;
      background-color: #ffffff;

      &::before
      {
        position: absolute;
        z-index: 1;
        top: -216px;
        left: 0;

        width: 100%;
        height: 397px;

        content: "";

        background-image: url("img/cloud.svg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
      }
    }

    .post-navigation {
      position: relative;
      z-index: 100;
    }
  }

    .page-inner .entry-content,
    .blog .post,
    .single .post,
    .archive .post
    {
      position: relative;
      z-index: 100;

      margin-top: 40px;
      margin-top: 0;
    }

  .page-inner .entry-header,
  .blog .page-header,
  .single .page-header,
  .archive .page-header
  {
    position: absolute;
    z-index: 100;
    top: -94px;
    left: 50%;

    transform: translateX(-50%);
    h1
    {
      margin: 0;
    }
  }

  .blog .post,
  .archive .post
  {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .page-inner .page
  {
    margin-bottom: 0;
  }

  .entry-content *:last-child
  {
    margin-bottom: 0;
  }

}

@media #{$desktop-widths}
{
  .page-inner,
  .blog,
  .single,
  .archive
  {
    .site-main
    {
      width: 670px;
      margin-top: 0;
    }
  }
}
