.site-decor
{
  display: none;
}

@media #{$tablet-widths}
{
  .site-decor
  {
    position: relative;

    display: block;

    height: 275px;

    background-image: url("img/tulips@1x.png"),
    url("img/fish@1x.png"),
    url("img/pond1.svg"),
    url("img/pond2.svg"),
    url("img/pond3.svg"),
    url("img/duck@1x.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 0 right 224px, top 75px right 523px, top 52px right 397px,
    top 50px right 377px, top 46px right 377px, top 117px right 835px;
    background-size: 140px 58px,
    99px 69px, 350px 123px, 443px 134px, 442px 155px, 47px 73px;

    @media #{$retina}
    {
      background-image: url("img/tulips@2x.png"),
      url("img/fish@2x.png"),
      url("img/pond1.svg"),
      url("img/pond2.svg"),
      url("img/pond3.svg"),
      url("img/duck@2x.png");
    }
  }
}


@media #{$desktop-widths}
{
  .site-decor
  {
    &::before
    {
      position: absolute;
      top: 51px;
      left: 154px;

      width: 140px;
      height: 58px;

      content: "";
      transform: scaleX(-1);

      background-image: url("img/tulips@1x.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 140px 58px;

      @media #{$retina}
      {
        background-image: url("img/tulips@2x.png");
      }
    }
  }
}
