.socials  {
  ul {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    list-style: none;
  }

  .socials-vk a{
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    svg {
      width: 100%;
      height: 100%;
      fill: #ef4b53;
    }
  }

  @media #{$mobile-widths-only} {
    ul li {
    margin: auto;
    }
    ul {
      margin-bottom: 28px;
    }
  }

}
