.socials  {
  ul {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    svg {
      width: 100%;
      height: 100%;
      color: #ef4b53;
    }
  }

  .socials-vk a {
    width: 31px;
    height: 31px;
  }

  @media #{$mobile-widths-only} {
    ul li {
    margin: auto;
    }
  }

}
