.socials  {
  ul {
    display: flex;
    justify-content: space-between;
    margin:0;
    margin-right: 30px;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    svg {
      width: 100%;
      height: 100%;
      color: #ef4b53;
    }
    &:hover
    {
      svg
      {
        color: saturate(darken( #ef4b53, 20%),50%);
      }
    }
    &:active
    {
      svg
      {
        color: lighten(#ef4b53, 10%);
      }
    }
  }

  .socials-vk a {
    width: 31px;
    height: 31px;
  }

  @media #{$mobile-widths-only} {
    ul li {
    margin: auto;
    }
  }

}
